*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("italy.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Arial; 
	letter-spacing: 1px;
	width: 100%;
	height: 100%;
}


.login-box:before{
	background: inherit;
	content: '';
	width: 300px;
	height: 325px;
	position: absolute;
	margin-left: -25px;
	
	animation-name: fade;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.login-box{
	background: inherit;
	width: 250px;
	height: 275px;
	position: fixed;
	top: calc(50% - 137.5px);
	left: calc(50% - 125px);
	overflow: hidden;
	border-radius: 5px;
}

.login-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	z-index: 1;
}

.login-form >*{
	margin-bottom: 15px;
	z-index: 1;
}

.user-icon{
	display: block;
	width: 100px;
	height: 100px;
	background-image: url(stockphoto.png);
	background-size: contain;
	border-radius: 50%;
	animation-name: spin;
	animation-duration: 1s;
}

.login-form label{
	color: #FFF;
}

.login-form input{
	width: 130px;
	height: 20px;
	border-radius: 2px;
	border: 0;
	opacity: 0.6;
}

@keyframes spin{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@keyframes fade{
	from{
		box-shadow: inset 0 0 0 0px rgba(255,255,255,0.4);
		filter: blur(0px);
	}
	to{
		box-shadow: inset 0 0 0 300px rgba(255,255,255,0.4);
		filter: blur(10px);
	}
}


